# Python cache and compiled files
__pycache__/
*.pyc
*.pyo

# Testing files
.pytest_cache/
.coverage

# Environment files
venv/

# Logs and temporary files
*.log



# Ignore distribution and build artifacts
dist/
build/
*.egg-info

# Ignore data files (dynamically generated)
data/notes.json

# Ignore temporary or system files
.DS_Store
*.pyc
__pycache__/
